$body-color: yellow;

body {
  width: 100%;
  background: $body-color;
}

/* The element to apply the animation to */
.animated {
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}